body {
	margin: 0;	
}

.header{
	width: 100%;
	background-color: #2D2D2D;
	height: 30px;
	clear: both;
	margin: 0 0 30 0;
	padding: 5 0 5 0;
	text-align: center;
	color: #FFFFFF;
	font-size: 13pt;
	font-family: Sans-Serif;
}


.header a {
	text-decoration: none;
	color: #FFFFFF;

}

.report {
	width: 70%;
	margin: 0 15% 0 15%;
}

input[type=text]:focus, input[type=password]:focus {
	border: 1px solid #F65327;
}

input[type=text], input[type=password], select {
	border: 1px solid #7F9DB9;
}

input, select {
	margin-right: 10px;
}

#logout {
	position: absolute;
	float: right;
	margin: 0 4em 0 95%;
}

#name {
	width: 100%;
	float: left;
}

.login {
	width: 40%;
	text-align: center;
	margin: 0 auto 0 auto;
}
